<form class="user-form" [formGroup]="form">
  <button class="btn btn-secondary" type="button" (click)="setValue()">Set Value</button>
  <fieldset formGroupName="person">
    <div class="form-group">
      <label class="required">Name</label>
      <input formControlName="name" required minlength="3" class="form-control"/>
      <span class="error-display"
            *ngIf="form.get('person')?.get('name')?.invalid && form?.get('person')?.get('name').dirty">
        {{form?.get('person')?.get('name')?.errors | json}}
      </span>
    </div>
    <div class="form-group">
      <label class="required">Age</label>
      <input formControlName="age" class="form-control"/>
    </div>
  </fieldset>
  <div class="form-group">
    <label class="required">City</label>
    <input formControlName="city" class="form-control"/>
  </div>
  <div class="form-group">
    <label class="required">Email</label>
    <input formControlName="email" class="form-control"/>
    <span class="error-display"
          *ngIf="form.get('email')?.invalid && form?.get('email')?.dirty">
        {{form?.get('email')?.errors | json}}
      </span>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
</form>

<div class="container">
  <div class="row">
    <!--<div class="col" [class.warning]="!formGroup.valid" [class.success]="form.valid">
      Valid: {{formGroup.valid}}
    </div>
    <div class="col" [class.warning]="!form.untouched" [class.success]="form.untouched">
      Untouched: {{form.untouched}}
    </div>
    <div class="col" [class.warning]="!form.pristine" [class.success]="form.pristine">
      Pristine: {{form.pristine}}
    </div>-->
  </div>

</div>
